h1 {
    font-family: sans-serif;
    }

.cor-fundo{
background-color:#90e0ef ;
}

.skill-1 {
    font-size: 20px;
}

.skill-2 {
    font-size: 19px;
}

.skill-3 {
    font-size: 18px;
}

.skill-4 {
    font-size: 17px;
}


   
